:root {
    --color-bg: #ffffff;
    --color-fg: #ffffff;
    --primary: #EA5C26;
}

[data-theme="light"] {
    --color-bg: #ffffff;
    --color-fg: #000000;
    --primary: #EA5C26;
}

[data-theme="dark"] {
    --color-bg: #000000;
    --color-fg: #ffffff;
    --primary: #EA5C26;
}