* {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

@media (max-width: 1024px) {
    * {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    * {
        font-size: 8px;
    }
}

html{
    width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    min-height: 100vh;
    font-family: 'Gabarito', cursive;
    background-image: url(../img/new/Wood.png);
    background-position: top;
    background-size: contain;
    background-repeat:repeat-y;
}

a {
    cursor: pointer;
}

button {
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: all var(--global-transition-time) ease-in-out;
    /* border-radius: 2rem; */
    cursor: pointer;
    color: var(--color-fg);
    /* background-color: var(--color-bg); */
    background-color: red;
    border: 0.25rem solid var(--color-fg);
}

footer .social-media a{
    background-color: var(--primary);
    padding: 6px 12px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}

.hero-image {
    /* margin-right: -50px; */
    position: relative;
    right: -15%;
}

@media screen and (max-width: 1024px) {
    .hero-image {
        margin-right: 0px;
        right: 0;
    }
}

footer .social-media a i{
    font-size: 20px;
}

@media screen and (max-width: 300px) {
    footer .social-media a{
        padding: 4px 8px;
    }
    
    footer .social-media a i{
        font-size: 16px;
    }
}