* {
    font-size: 16px;
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    min-height: 100vh;
    font-family: 'Gabarito', cursive;
}

button {
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: all var(--global-transition-time) ease-in-out;
    /* border-radius: 2rem; */
    cursor: pointer;
    color: var(--color-fg);
    /* background-color: var(--color-bg); */
    background-color: red;
    border: 0.25rem solid var(--color-fg);
}

footer .social-media a{
    background-color: var(--primary);
    padding: 6px 12px;
    border-radius: 50%;
    color: var(--background);
    transition: all 0.2s ease-in-out;
}

footer .social-media a i{
    font-size: 20px;
}

@media screen and (max-width: 300px) {
    footer .social-media a{
        padding: 4px 8px;
    }
    
    footer .social-media a i{
        font-size: 16px;
    }
}

/* footer .social-media a .fa-solid{
    padding: 0 2px;
    font-size: 20px;
} */